@font-face {
   font-family: 'Bold';
   src: url(../styles/base/fonts/Montserrat-Bold.ttf);
}

@font-face {
   font-family: 'Regular';
   src: url(../styles/base/fonts/Montserrat-Regular.ttf);
}

@font-face {
   font-family: 'Light';
   src: url(../styles/base/fonts/Roboto-Light.ttf);
}
